.parent{
    height: 550PX;
    width: 1900PX;
    background-color: #3e2c23;
    color:white ;
    display: flex;
    flex-wrap: wrap;
    
}
.item1{
    height: 65%;
    width: 33.33%; 
    /* background-color: aquamarine; */
    margin-top: 3%;
}
.item2{
    height: 65%;
    width: 33.33%; 
    /* background-color:tomato; */
    margin-top: 3%;
}
.item3{
    height: 65%;
    width: 33.33%; 
    /* background-color: seagreen; */
    margin-top: 3%;
}
.item4{
    width: 100%;
    height: 35%;
    background-color: #3e2c23;
}
.nwr{
    transition: 1s;
    text-decoration: none;
    color: white;
    margin-top: 6% ;
    margin-left: 10%;
    line-height: 40px;
}
.nwr:hover{
    color: rgb(243, 83, 83);
    cursor: pointer;
}
.xx{
    margin-left: 35%;
    margin-top: 3%;
}
.child{
    margin-top: 8%;
    margin-left: 10%;
}
.title{
    margin-left: 10%;
}
.nwr1{
    transition: 1s;
    text-decoration: none;
    color: white;
    margin-top: 8% ;
    margin-left: 10%;
    line-height: 40px;
    /* color: #FF0000; */
}
.nwr1:hover{
    color: #FF0000;
    cursor: pointer;
}
.nwr2{
    transition: 1s;
    text-decoration: none;
    color: white;
    margin-top: 8% ;
    margin-left: 10%;
    line-height: 40px;
    /* color: #1877f2; */
}
.nwr2:hover{
    color:  #1877f2;
    cursor: pointer;
}
.nwr3{
    transition: 1s;
    text-decoration: none;
    color: white;
    margin-top: 8% ;
    margin-left: 10%;
    line-height: 40px;
/* color:#E1306C; */
}
.nwr3:hover{
    color: #E1306C;
    cursor: pointer;
}
.nwr4{
    transition: 1s;
    text-decoration: none;
    color: white;
    margin-top: 8% ;
    margin-left: 10%;
    line-height: 40px;
    /* color: #1DA1F2; */
}
.nwr4:hover{
    color:  #1DA1F2;
    cursor: pointer;
}
.nwr5{
    transition: 1s;
    text-decoration: none;
    margin-top: 8% ;
    margin-left: 10%;
    line-height: 40px;
    /* color: #fff;
    text-shadow: -2px 0 #69C9D0 , 2px 0 #EE1D52; */
    color: white;
}
.nwr5:hover{
    color: white;
    color: #fff;
    text-shadow: -2px 0 #69C9D0 , 2px 0 #EE1D52;
    cursor: pointer;
}
.xxx{
    margin-left: 20%;
}